.btn {
  width: 280px;
//  height: 48px;
  margin: 10px auto;
  border: 3px solid $color-link;
  border-radius: 50px;
  text-align: center;

  &--down {
    &:hover {
      background-color: $color-link;
      outline: none;
    }

    &:active {
//      background-color: $color-link;
    }
  }
}
