.home {
  width: 320px;
  margin: 0 auto;
  background-color: #ffffff;
  color: $color-main;
  font-size: $font-size--small;
  line-height: $line-height;
  font-family: Open Sans, Arial, sans-serif;
  font-weight: normal;
}

@media (min-width: $tablet-widths) and (max-width: $desktop-widths) {
  .home {
    width: 660px;
  }
}

@media (min-width: $desktop-widths) {
  .home  {
    width: 960px;
  }
}
