.photos {
  width: 320px;
  margin: 0 auto;
}

.photos__wrapper{
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.photos__wrap{
  @include container();
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.photos__text {
  @include reset;
  padding: 47px 35px;
  font-size: 14px;
  line-height: 30px;
  color: $color-main;
  text-align: center;
  &--down {
    padding-top: 22px;
    padding-bottom: 42px;
    padding-left: 30px;
    padding-right: 30px;
    }
}

.photos__content-wpap {
  @include container();
//  padding-top: 9px;
}

.photos__content:first-child {
//  margin-top: -5px;
//  margin-left: 20px;
//  margin-right: 20px;
//  margin-bottom: 20px;
  padding-left: 17px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 17px;
//  background: $gray-light;
}

.photos__content {
//  margin-top: -5px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding-left: 17px;
  padding-top: 17px;
  padding-bottom: 19px;
  padding-right: 17px;
  background: $gray-light;
}


.photos--like-wrapper {
  i {
    margin-top: 12px;
    padding: 8px 7px;
    background: url(/img/icon-heart.svg) no-repeat;
  }
  display: flex;
  align-items:  center;
//  margin-top: 12px;
  color: $color-secondary;
}

.photos__auhor-foto {
  margin: 0 auto;
  height: 180px;
  &--big {
    height: 137px;
  }
}

.photos__img {
  width: 280px;
  height: 180px;
  padding-left: 20px;
  padding-right: 20px;
  &--big {
    width: 320px;
    height: 137px;
    padding: 0;
  }
}

.photos__auhor-name {
//  margin-right: 10px;
  font-size: $font-size--small;
  line-height: $font-size--big;
  font-weight: bold;
  font-style: normal;
}

.photos__time {
  font-size: 12px;
  font-weight: lighter;
  line-height: $font-size--big;
  text-transform: $text-transform;
}

.photos__list {
  @include reset;
//    &--big {
//    width: ;
//  }
  p {
    @include reset;
    font-size: $font-size--small;
    line-height: $font-size--big;
  }
}

.photos__list .photos-comment {
  @include reset;
  margin-top: -3px;
  &--top {
    margin-top: 0px;
  }
}

.photos__like, photos__like-count {
  margin-top: 11px;
  padding-left: 18px;
  font-size: 12px;
  line-height: 24px;
  text-transform: $text-transform;
}

.photos__title {
  margin: 0;
  padding: 0;
  padding-left: 45px;
  padding-right: 45px;
  padding-top: 98px;
  padding-bottom: 80px;
  font-size: $font-size--big;
  font-weight: 300;
  color: $color-link;
  text-align: center;
}

.photos__title-wrapper {
  position: relative;
}

@media (min-width: $tablet-widths) {

  .photos__text {
    font-size: 18px;
    line-height: 30px;
  }

  .photos__list {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-bottom: 20px;
    &--big {
    width: auto;
    }
  }

  .photos__wrapper {
    margin-bottom: 30px;
  }

  .photos__content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    margin-top: -10px;
    flex-grow: 1;
    width: auto;
    padding-bottom: 24px;
    padding-top: 24px;
    padding-left: 28px;
    padding-right: 28px;
    &--top {
      justify-content: space-between;
    }
  }

  .photos__like--top {
    margin-right: 16px;
    margin-top: -1px;
    margin-bottom: 12px;
  }

  .photos--like-wrapper {
    flex-direction: row-reverse;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    color: $color-secondary;
    margin-top: auto;
    &--top {
      justify-content: flex-start;
      order: -1;
    }
    i {
      padding: 7px 9px;
    }
  }

  .photos__auhor-name {
    margin-right: 3px;
  }

  .photos__img {
    width: 300px;
    height: 300px;
    padding-left: 0;
    padding-right: 0;
    &--big {
      width: 660px;
      height: 508px;
    }
  }

  .photos__like, photos__like-count {
    padding-left: 0;
    margin-right: 13px;
}
  .photos__name{
    order: -2;
  }

}

@media (min-width: $tablet-widths) and (max-width: $desktop-widths) {
  .photos {
    width: 660px;
  }

  .photos__text {
    padding-top: 94px;
    padding-bottom: 75px;
    padding-left: 100px;
    padding-right: 100px;
    &--down {
      padding-top: 48px;
      padding-bottom: 66px;
    }
  }

  .photos__auhor-foto {
    height: 310px;
    &--big {
      height: 508px;
    }
  }

  .photos__content-wpap {
    padding-top: 10px;
}

  .photos__content:first-child {
    padding-left: 26px;
    padding-top: 25px;
    padding-bottom: 26px;
    padding-right: 29px;
}

  .photos__list .photos-comment {
//  @include reset;
  margin-top: 2px;
  &--top {
    margin-top: -11px;
  }
}
  .photos--like-wrapper--top i{
    margin-top: -11px;
  }

  .photos__list:nth-last-of-type(2) .photos--like-wrapper {
    margin-top: 25px;
  }
}


@media (max-width: $tablet-widths) {
  .photos__title-wrapper {
    background: $color-main url(../img/bg-back-mobile@1x.jpg) 50% 0 no-repeat;
  }
  @media (min-resolution: 144dpi),
      (min-resolution: 1.5dppx){
    .photos__title-wrapper {
      background-image: url(../img/bg-back-mobile@2x.jpg);
      background-size: auto 461px;
    }
}
}

@media (min-width: $tablet-widths){
  .photos__title {
    padding: 0 75px;
    padding-top: 181px;
    padding-bottom: 78px;
    font-size: 50px;
    line-height: 60px;
    &--large {
      padding-bottom: 140px;
    }
  }

    .photos__title-wrapper  {
    background: $color-main url(../img/bg-back-tablet@1x.jpg) 50% 0 no-repeat;
  }
    @media (min-resolution: 144dpi),
          (min-resolution: 1.5dppx){
      .photos__title-wrapper  {
        background-image: url(../img/bg-back-tablet@2x.jpg);
        background-size: auto 729px;
    }
  }
}

@media (min-width: $desktop-widths) {
  .photos__title {
    &--large {
      padding-top: 174px;
      padding-bottom: 101px;
      padding-left: 290px;
      padding-right: 290px;
    }
  }

  .photos__title-wrapper {
    background: url(../img/bg-back-desktop@1x.jpg) 50% 0 no-repeat;
  }

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .photos__title-wrapper {
      background-image: url(../img/bg-back-desktop@2x.jpg);
      background-size: auto 856px;
      }
  }

  .photos {
    width: 960px;
  }

  .photos__auhor-foto {
    height: 410px;
    &--big {
      height: 516px;
    }
  }

  .photos__img {
    width: 300px;
    height: 400px;
    &--big {
      width: 960px;
      height: 506px;
    }
  }


  .photos__text {
    padding-top: 94px;
    padding-bottom: 86px;
    padding-left: 170px;
    padding-right: 170px;
    &--down {
      padding-left: 263px;
      padding-right: 229px;
      padding-top: 3px;
      padding-bottom: 65px;
    }
  }

  .photos__list .photos-comment {
    margin-top: 3px;
    &--top {
      margin-top: -9px;
    }

  }

  .photos__content:first-child {
    padding-left: 28px;
    padding-right: 28px;
    padding-top: 23px;
    padding-bottom: 23px;
  }

  .photos--like-wrapper {
    i {
    margin-top: 14px;
  }
    &--top i {
      margin-top: -10px;
    }
  }

  .photos__wrap .photos__list {
    margin-bottom: 55px;
  }

  .photos__list:nth-last-of-type(2) .photos--like-wrapper {
    margin-top: 25px;
  }

  .photos__list:nth-last-of-type(3) .photos--like-wrapper {
    margin-top: 25px;
  }

  .photos__wrap .photos__list:nth-last-of-type(1) .photos--like-wrapper {
    margin-top: 25px;
  }
}
