.social-links {
  text-align: center;
}

.social-link {
  display: inline-block;
  width: 45px;
  height: 45px;
  margin-right: 11px;
  font-size: 0;
  border: 3px solid #e9ebec;
  border-radius: 50%;
  vertical-align: top;
  text-decoration: none;

  &:hover {
    border: 3px solid $color-main;
  }
  &:active {
    opacity: 0.3;
  }

  &--tv {
    background: url(/img/icon-twitter.svg) no-repeat center;
  }

  &--fb {
    background: url(
    /img/icon-facebook.svg) no-repeat center;
  }

  &--yb {
    background: url(/img/icon-youtube.svg) no-repeat center;
  }
}

.social-links:last-child {
  margin-right: 5px;
}

@media (min-width: $desktop-widths){
  .social-links {
    margin: 0;
    margin-left: 22px;
  }
}

